.text-h7 {
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
}

.text-medium {
  font-size: 1.375rem !important;
}

.z-3 {
  z-index: 3;
}

.position-relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.pointer-events-0 {
  pointer-events: none;
}

.gray--border {
  border-color: $gray !important;
}

.h-100p {
  height: 100%;
}

.header-badge {
  width: 12px;
  height: 12px;
}

.dialog-right-top-position {
  position: absolute;
  top: 0;
  right: 0;
}

.v-navigation-drawer__border {
  background-color: $light-gray !important;
}

.theme--light.v-divider {
  border-color: $light-gray !important;
}

.black-main-hover:hover {
  background: $black !important;
}

.v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > th {
  border-bottom: 1px solid $gray !important;
}

.custom-scroll {
  & *::-webkit-scrollbar {
    width: 4px;
  }
  & *::-webkit-scrollbar-thumb {
    background: $gray;
  }
}
