$gray: #6c6c6c;
$light-gray: #474747;
$white: #eeeeee;
$black: #1c1c1e;

$body-font-family: "Poppins", serif;
$border-radius-root: 16px;
$text-field-outlined-fieldset-border: 1px solid $light-gray !important;
$material-light: (
  "background": #1c1c1e,
);
$text-field-enclosed-details-padding: 0 16px;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 48px;
$text-field-outlined-prepend-append-margin-top: 12px;
$dialog-border-radius: 0;
$tooltip-background-color: none;
